* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 5px;
}

.div {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 700;
  background-color: rgb(240, 238, 238);
}

.div:hover {
  background-color: rgb(116, 172, 245);
  cursor: pointer;
}
